.centered{
    text-align: center;
}

#game-container{
	width: 800px;
	height: 500px;
	display:inline-block;
}

#office-container{
	height: 500px;
	background-color: #cccccc;
	display:inline-block;
	float: right;
}

#menu-container{
	height: 500px;
	background-color: #e0e0e0;
	display:inline-block;
	float: right;
}


@media (orientation: portrait) {
	#menu-container{
		height: 200px;
	}
}

@media screen and (max-device-height: 700px) {

	#game-container{
		height: 85vh;
		width: 85vw;
	}


	#office-container{
		height: 85vh;
	}

	#menu-container{
		height: 85vh;
	}

}

/*

.centered{
    text-align: center;
}

#game-container{
	display:inline-block;
}

#menu-container{
	height: 500px;
	background-color: #e0e0e0;
	display:inline-block;
}

#office-container{
	height: 500px;
	background-color: #eeeeee;
	display:inline-block;
}

/*
#menu-container2{
	height: 500px;
	background-color: #e0e0e0;
}

#office-container2{
	height: 500px;
	background-color: #eeeeee;
}
*/

#blue-square{
  width: 30px;
  height: 30px;
  background-color: #29e;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#red-rect{
  width: 60px;
  height: 30px;
  background-color: #f33;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}