.centered{
    text-align: center;
}

.vert-center{
    position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.vert-center_container{
	height: 100%;
}

#game_container{
	width: 800px;
	height: 500px;
	min-height: 352px;
	display:inline-block;
}

#menu_container{
	height: 500px;
	background-color: #e0e0e0;
	display:inline-block;
	float: right;
	padding: 0px 5px 0px 5px;
}

#playarea_container{
	height: 500px;
	background-color: #cccccc;
	display:inline-block;
	float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}


#office_container{
	display:inline-block;
    margin: 0 auto;
	background-image: url('../img/office_blank.svg');
	width: 600px;
	height: 460px;
}

.menu_object{
	width: 50px;
	height: 50px;
	margin: 3px;
}

#menu_nav{
	overflow: hidden;
}

.menu{
	display: none;
}

.menu-active{
	display: inline;
}

@media screen and (orientation: landscape){
	#office_top_padding{
		min-height: 20px;
	}
}

@media (orientation: portrait) {
	#menu_container{
		height: 200px;
	}

	#game_container{
		height: 700px;
	}
	#menu-container{
		height: 200px;
	}

	.menu_object{
		width: 80px;
		height: 80px;
		margin: 3px;
	}

}

@media screen and (orientation: landscape) and (max-device-width: 700px) {

	#game_container{
		height: 95vh;
		width: 90vw;
		min-height: 460px;
	}


	#playarea_container{
		height: 95vh;
		min-height: 460px;
	}

	#menu_container{
		height: 95vh;
		min-height: 460px;
	}

}

#game_objects{
	min-height: 420px;
}

.game_object{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 100px;
	height: 100px;
	-webkit-transform: translate(0px, 0px);
	      transform: translate(0px, 0px);
}

.restart_row{
	position: absolute;
	top: 20px;
}

.save_row{ 
	position: absolute;
	top: 60px;
}


.delete_row{
	position: absolute;
	bottom: 20px;
}

#delete_btn{
	z-index: -2;
}

#delete-dropzone{
	background-color: #FF0000;
	width: 60px;
	height: 60px;
}

#delete-dropzone.dropzone-active {
  border-color: #fff;
  border-style: solid;
}

.game_object.droppable{
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

.draggable{
	-ms-touch-action: none;
	touch-action: none;
}