.centered{
    text-align: center;
}

#game-container{
	width: 800px;
	height: 500px;
	min-height: 352px;
	display:inline-block;
}

#menu-container{
	height: 500px;
	background-color: #e0e0e0;
	display:inline-block;
	float: right;
}

#playarea-container{
	height: 500px;
	background-color: #cccccc;
	display:inline-block;
	float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}


#office-container{
	display:inline-block;
    margin: 0 auto;
	background-image: url('../img/office_blank.png');
	width: 600px;
	height: 460px;
}

#office-top-padding{
	min-height: 20px;
}


@media (orientation: portrait) {
	#menu-container{
		height: 200px;
	}

	#game-container{
		height: 700px;
	}
}

@media screen and (orientation: landscape) and (max-device-width: 700px) {

	#game-container{
		height: 95vh;
		width: 90vw;
		min-height: 460px;
	}


	#playarea-container{
		height: 95vh;
		min-height: 460px;
	}

	#menu-container{
		height: 95vh;
		min-height: 460px;
	}

}


#cubicle{
	  background-image: url('../img/cubicle_0.svg');
}

#red-rect{
  width: 60px;
  height: 30px;
  background-color: #f33;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#game-objects{
	min-height: 420px;
}

.game-object{
	width: 100px;
	height: 100px;
	-webkit-transform: translate(0px, 0px);
	      transform: translate(0px, 0px);
}

.delete-row{
	position: absolute;
	bottom: 0;
	right: 0;
}

#delete-btn{
	z-index: -2;
}